.register-container {
  height: 100vh;
}
.form-section
 {
  padding: 3rem;
  box-sizing: border-box;
}
.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


input {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 4px;
}
.form-section p{
  font-size: 0.75rem;
}
button {
  width: 100%;
  margin-top: 1rem;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
}







